{% extends "navbar/base.html" %}
{% block title %}editor{% endblock %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static "students/css/students.css" %}"/>
<link rel="stylesheet" type="text/css" href=" {% static "students/css/timeline.css" %}"/>
<script src=" {% static "students/js/jquery-3.2.1.min.js" %}"></script>
<script src=" {% static "students/js/readmore.js" %}"></script>
<script src=" {% static "students/js/js.cookie.js" %}"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
 <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
 <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
 <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
 <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

{% load timelinetags %}
  <div id="timeline-wrapper">
    <div id="header-wrapper">
      <div id="logo-header"><img id="logo-uni" src="{% img_tag request.user.id %}"></img></div>
      <div id="Name"> {% name_tag request.user.id %}</div>
      <div id="University">{% uni_tag request.user.id %}</div>
      <div id="Degree">

        {% get_degree request.user.id as degree %}
        {% if degree == None %}
          <input id="degree-input" class="hideit" placeholder="Enter Degree"></input>
        {% else %}
          <label id="degree-label" placeholder="">{{ degree }}</input>
          <div class="grad-edit"></div>
        {% endif %}
      </div>
    </div>

    {% csrf_token %}
    <div id="coverletter">
      <div id="summernote"></div>
      <div id="modify-highlighter"></div>
      <div id="modify-button" class="summer-active"></div>
    </div>
    <div id="add-piece-btn"></div>

    <div id="pieces-wrapper">

        {% get_mods request.user.id as mods %}
        {% for o in mods %}
          <div id="{% get_mongo_id o %}" class="piece">
            <div class="piece-logo"><img id="piece-img"></img></div>
            <div class="modulename"><div class='label-modname'>{{ o.module.fullname }}</div></div>
            <article class="module-summary slide" id="module-summary">{% autoescape off %}{{ o.module.summary }}{% endautoescape %}</article>
            <div class="mod-mark">{{ o.modulegrade }}</div>
            <div class="actions-container">
              <img id="top-arrow" src="http://res.cloudinary.com/dhasw4cz8/image/upload/v1502546294/gradport/Keyboard_Arrow_Up.png" id="1" class="actions-control"></img>
              <img src="http://res.cloudinary.com/dhasw4cz8/image/upload/v1502546292/gradport/Keyboard_Arrow_Down.png" id="3" class="actions-control"></img>
            </div>
            <div id="delete-piece"></div>
          </div>
        {% endfor %}

    </div>
  </div>


    <!-- in your header -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">



  <div id="skills-wrapper">Skills

    <!-- in your body -->
    <i class="devicon-android-plain colored"></i>

    <i class="devicon-java-plain-wordmark colored"></i>

     <i class="devicon-visualstudio-plain colored"></i>
    <div id="add-skill"></div>

  </div>

  <script>


    $(document).ready(function(){
          //security
          var csrftoken = Cookies.get('csrftoken');
          function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
            }
          });




       function editit(){
             var text = $(this).val();
             var degree = $("<input id='degree-input' class='hideit' placeholder='Enter Degree'></input>").blur(blurit);
             $('#Degree').html(degree);
          }


      function blurit(){
              alert("sadas");
              var text = $(this).val();
              $.ajax({
                type: 'POST',
                data: {
                  degree: text,
                },
                url: "{% url 'students:savedegree' %}",
                datatype: "json",
                     success: function(data) {
                       var label = $("<label id='degree-label' placeholder=''>"+ text +"</input>");
                       var edit = $("<div class='grad-edit'></div>").click(editit);
                       $("#Degree").html(label);
                       $("#Degree").append(edit);
                     }
                 });
            }



            $('.grad-edit').on('click', function(){
                  var degree = $("<input id='degree-input' class='hideit' placeholder='Enter Degree'></input>").blur(blurit);
                  $('#Degree').html(degree);
             });


          $('#degree-input').blur(function(){
            var text = $(this).val();
            $.ajax({
              type: 'POST',
              data: {
                degree: text,
              },
              url: "{% url 'students:savedegree' %}",
              datatype: "json",
                   success: function(data) {
                     var label = $("<label id='degree-label' placeholder=''>"+ text +"</input>");
                     var edit = $("<div class='grad-edit'></div>").click(editit);
                     $("#Degree").html(label);
                     $("#Degree").append(edit);
                   }
               });
          });


        var markupStr = "Type up your cover-letter here";
        //ajax to get coverletter data
        var getcoverletter = function getcoverletter(callback){
          $.ajax({
            type: 'GET',
            url: "{% url 'students:getcoverletter' %}",
            datatype: "json",
                 success: function(data) {
                   callback(data);
                 }
             });
        }
       function starteditor(data){
         markupStr = data;
         $('#summernote').summernote('code', markupStr);
      }
      getcoverletter(starteditor);


      var SaveButton = function (context) {
      var ui = $.summernote.ui;

      // create button
      var button = ui.button({
        contents: '<i class="fa fa-child"/> Save',
        tooltip: 'Save',
        click: function () {
          $('#summernote').summernote('destroy');
          $('.tooltip').css({'visibility':'hidden'});
          $( '#modify-button' ).show();
          $('#modify-highlighter').show();
          //context.invoke('editor.insertText', 'hello');
        }
      });

      return button.render();   // return button as jquery object
      }


      $('#summernote').summernote({
          toolbar: [
            ['mybutton', ['Save']],
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['insert',['picture','link','video']]
          ],
          buttons: {
            Save: SaveButton
          },
          callbacks: {
            onImageUpload: function(files, editor, welEditable) {
              url  = sendFile(files[0], this);
              $('#summernote').summernote('insertImage', url);
              // upload image to server and create imgNode...
            },
            onChange: function(x) {
              //console.log('onChange:', contents, $editable);
              $.ajax({
                type: "GET",
                url: "{% url 'students:setcoverletter' %}",
                data: {
                      x: x ,
                    },
                datatype: "json",
                     success: function(data) {
                     }
                 });
                console.log("something happened");
            }

          }
      });

      function sendFile(file, el) {
        jQuery.noConflict();
        data = new FormData();
        data.append("file", file);
        $.ajax({
          type: "GET",
          url: "{% url 'students:summerimgupload' %}",
          data: data,
          processData: false,
          contentType: false,
          datatype: "json",
               success: function(data) {
                 var url = "http://res.cloudinary.com/dhasw4cz8/image/upload/v1490558303/tuning-2157354_640_lzgjwa.jpg";
                 //$('#summernote').summernote('insertImage', url);
                 return(url);
               }
           });
      }


      $("#modify-button").on('click' ,function(){
          getcoverletter(starteditor);
          $("#modify-button").hide();
          $("#modify-highlighter").hide();


          $('#summernote').summernote({
              toolbar: [
                ['mybutton', ['Save']],
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert',['picture','link','video']]
              ],
              buttons: {
                Save: SaveButton
              },
              callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                  url  = sendFile(files[0], this);
                  $('#summernote').summernote('insertImage', url);
                  // upload image to server and create imgNode...
                },
                onChange: function(x) {
                  //console.log('onChange:', contents, $editable);
                  $.ajax({
                    type: "GET",
                    url: "{% url 'students:setcoverletter' %}",
                    data: {
                          x: x ,
                        },
                    datatype: "json",
                         success: function(data) {
                         }
                     });
                    console.log("something happened");
                }

              }
          });
      });

        $("#TestBtn1").on('click', function(){
            var markupStr = $('#summernote').summernote('code');
        });


        $(".piece").on('click', function(){
          var finalvar = "";
          alert($(this).attr('id'));
          $.ajax({
            type: "GET",
            url: "{% url 'moodle:dispatch' %}",
            data: {
                  objectid: $(this).attr('id'),
                },
            datatype: "json",
                 success: function(data) {
                    finalvar = data;
                 }
             });


            $(this).fadeOut("slow", function(){
                var childdiv = $(finalvar);
                var div = $("<div class='module-wrapper'><div class='module-head'><div class='mod-back'></div></div><div class='module-body'>body</div></div>").hide();
                div.append(childdiv);
                $(this).replaceWith(div);
                $(div).fadeIn("slow");

            });
        });


    });

  </script>

{% endblock %}
