{% extends "navbar/base.html" %}
{% block title %}name{% endblock %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static "students/css/students.css" %}"/>
<script src=" {% static "students/js/jquery-3.2.1.min.js" %}"></script>
<script src=" {% static "students/js/js.cookie.js" %}"></script>

<link rel="stylesheet" type="text/css" href=" {% static "students/css/jquery.auto-complete.css" %}"/>
<script src=" {% static "students/js/jquery.autocomplete.js" %}"></script>

<div id="plug">
  <form id="post-form" class="post-form" >
    <p>Please enter your university credentials</p>
    <input type="text" name="country" id="autocomplete"/>
    {% csrf_token %}
    {{ form }}
    <div id="Submit">Submit</div>
</form>

</div>

<script>


$(document).ready(function(){

    var uniselectionid = 0;
    /// Django csrf logic
    /// get and seet token to ajax header
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    ////////////////////////////////////////////////////

    /*
    $('input[name="q"]').autoComplete({
        source: function(term, response){
            $.getJSON("{% url 'students:uni' %}", { q: term }, function(data){ response(data); });
        }
    });
    */

    /*
    $("#unidrop").on('change', function(){
      $.ajax({
        type: 'GET',
        url: "{% url 'students:uni' %}",
        datatype: "json",
             success: function(data) {
                 $("#unidrop").autocomplete({ source: data });
             }
         });
    });*/

    /*
    $('#unidrop').autoComplete({
      source: function(term, response){
          $.ajax({
          type: 'GET',
          url: "{% url 'students:uni' %}",
          datatype: "json",
               success: function(data) {
                 response(data);
               }
           });
      }
    }); */
    $('#autocomplete').autocomplete({
      serviceUrl: "{% url 'students:uni' %}",
      onSelect: function (suggestion) {
          uniselectionid = suggestion.data
          console.log(uniselectionid);
        }
      });



    $("#TestBtn1").on('click', function(){
      $.ajax({
        type: 'GET',
        url: "{% url 'students:test' %}",
        datatype: "json",
             success: function(data) {
              alert(data);
             }
         });
    });

    /*
    $.ajaxSetup({data: {
      csrfmiddlewaretoken: '{{ csrf_token }}'
    }}); */

    $("#Submit").on('click',function(){
      var user = document.getElementById("id_your_name").value;
      var pass = document.getElementById("id_your_pass").value;
      var uniqid = uniselectionid;
      if(user == "" || pass == ""){
        //do nothing
      }
      else{
          $.ajax({
            type: 'GET',
            data: {
                  username: user ,
                  password: pass,
                  uniqid: uniselectionid
                },
            url: "{% url 'moodle:moodlemanager' %}",
            datatype: "json",
                 success: function(data) {
                   window.location.href = "{% url 'students:students' %}";
                 }
             });
          }

       });
    });

//http://127.0.1.1/moodle/webservice/rest/server.php?wstoken=6b1e98bff72b9c93eab1387c217e95fd&wsfunction=gradereport_user_get_grade_items&moodlewsrestformat=json
</script>

{% endblock %}
