<!DOCTYPE html>
<html>
<head>
<title>Gradport</title>
{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static "gateway/css/userportal.css" %}"/>
<script src=" {% static "gateway/js/jquery-2.2.0.js" %}"></script>

</head>
<body>
<!-- Start your code here -->
<div id="background">
  <h1 id="title">Gradport</h1>
  <div id="container">
    <div class="student">Student Registration</div>

    <div class="company">Company Registration</div>
  </div>
</div>

<a id="login" href="{% url 'gateway:eport' %}">login</a>
<script>
$(document).ready(function(){

  $(".student").on('click', function(){
    $.ajax({
          type: "GET",
          url: "studentreg/",
           success: function(data) {
             alert(data);
           }
       })
     });

  $(".company").on('click', function(){
    alert("2");
  });



});



</script>
<!-- End your code here -->
</body>
</html>
