#plug{
  position: absolute;

  width:400px;
  height:400px;

  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  background-color:white;
  background-image:url('../images/plug.png');
  background-size:  cover;
  background-repeat:   no-repeat;

  border-radius: 50%;

}

#id_universities{
  width: 100px;
}

.seg{
  position: relative;
  width:100%;
}

#txt1{
  position: relative;
  height:40px;
  background-color: #6d4f3b;
  margin: 0 auto;
  color: white;
  text-align: center;
  border: none;
}

#the_post{
  position: relative;
  background-color: #6d4f3b;
  color:white;
  width:300px;
  height:50px;
  border: 2px solid;
}

#post-form{
  position: absolute;
  opacity: 0.8;
  width: 200px;
  height:240px;
  color:white;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 5px;
  background-color: #6d4f3b;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  padding-left: 10px;
  padding-right:10px;
}


#Submit{
	position: relative;
  width: 100px;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
  background-color: #6d4f3b;
}

#Submit:hover{
  background-color: white;
  color : #6d4f3b;
  cursor: pointer;
  cursor: hand;
  border: 1px solid #888888;
}

.post-form input{
  margin-top: 5px;
  margin-bottom: 5px;
}

.post-form label:first-of-type{
  position: relative;
  margin-top: 5px;
}
