#timeline-wrapper{
     position: absolute;

      top:70px;
      width:700px;

      left: 10px;
      right: 0;
      margin: auto;

      background-color: #e8eaed;
      padding: 15px;

}

#header-wrapper{
  position: relative;
  height:70px;
  width:100%;
  box-shadow: 2px 2px 2px 2px #888888;
  border-radius: 2px;
}

#pieces-wrapper{
  position: relative;#
  background-color: white;
  width:100%;
  height:450px;
  margin-top:30px;
  float:left;

}

#logo-header{
  position: relative;
  width:150px;
  height: 100%;
  float: left;
}

#Name{
  position: relative;
  display: inline-block;
  margin-left: 20px;
  color: #16a085;
  font-weight: bold;
  float: left;
  top: 30px;
}

#University{
  position: relative;
  display: inline-block;
  margin-left: 20px;
  color: #16a085;
  font-weight: bold;
  float: left;
  top: 30px;

}

#degree-input{

}

#Degree{
  position: relative;
  display: inline-block;
  margin-left: 20px;
  color: #16a085;
  font-weight: bold;
  float: left;
  top: 30px;

}
#sdd{
  position: absolute;
  left:100px;
  top:300px;
}

#edit-degree{

}

#degree-label{
  margin-top: -10px;

}


.piece{
  position: relative;
  background-color: white;
  width: 100%;
  height:100px;
  box-shadow: 5px 5px 2px #888888;
  border-radius: 2px;
  margin-bottom: 15px;

}

#piece-img{
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("http://res.cloudinary.com/dhasw4cz8/image/upload/v1502546302/gradport/University.png");
  background-repeat: no-repeat;
  display: block
  left: 0;
  top:0;
  bottom:0;
  right: 25px;
  margin: auto;
}

#logo-uni{
  position: absolute;
  width: 100px;
  height: 40px;
  left: 0;
  top:0px;
  margin-top: 20px;
  bottom:0;
  right: 25px;
  margin: auto;
}

.piece-logo{
  position: relative;
  width:100px;
  height: 100%;
  display: inline-block;
  float: left;
}

.modulename{
  position: relative;
  width:180px;
  height:100%;
  margin-left: 10px;
  float: left;
}
.label-modname{
  padding: 10% 0;
  text-align: center;
}

.module-summary{
  position: relative;
  float: left;
  width:200px;
  height:90px;
  font-size: 10px;
  margin-left: 20px;
  overflow-y: hidden;
}

.mod-mark{
  position: relative;
  width:70px;
  height:70px;
  top:15px;
  float: left;
  margin-left: 20px;
  background-image: url("http://res.cloudinary.com/dhasw4cz8/image/upload/v1502558655/gradport/icons8-Circled_Notch.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 70px;
}

.actions-container{
  position: relative;
  width:60px;
  height: 100px;
  float: right;
}

#top-arrow{
  position: relative;
  margin-top: 10%;
}

.actions-control{
  position: relative;
  display: inline-block;
  width:100%;
  height:40%;
}


#coverletter{
  position: relative;
  margin-top: 30px;
  background-color: white;
}


#modify-button{
  position: absolute;
  top:50%;
  right:0px;
  margin-top: -25px;
  margin-left: 25px;
  width:100px;
  height:50px;
  z-index:10;
  color:white;
  background-image: url("http://res.cloudinary.com/dhasw4cz8/image/upload/v1502548000/gradport/icons8-Edit_Property.png");
  background-repeat: no-repeat;
  display: block;
  display: none;
}

#modify-highlighter{
  position: absolute;
  top:0px;
  height: 0px;
  width:100px;
  height:100%;
  right:0px;
  opacity: 0.3;
  display: none;
}



.summer-active{

}


.grad-edit{
  position: relative;
  width:20px;
  height:20px;
  display: inline-block;
  background-image: url("http://res.cloudinary.com/dhasw4cz8/image/upload/v1502546287/gradport/Edit.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.hideit:focus{
    outline: none;
    -webkit-appearance: none
    border:0;
}


.hideit{
    outline: none;
    -webkit-appearance: none;
    appearance:none;
    border:0;
}

.module-wrapper{
  position: relative;
  width:100%;
  height:300px;
  box-shadow: 5px 5px 2px #888888;
  margin-bottom: 15px;
}

.module-head{
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #16a085;
  color:white;
}

.module-body{
  position: relative;
  width: 100%;
  height: 250px;
  color:black;
}

.mod-back{
  position: relative;
  width:50px;
  height:50px;
  top:0px;
  left:0px;
  background-image: url("http://res.cloudinary.com/dhasw4cz8/image/upload/v1502642178/gradport/icons8-Back_To_2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#delete-piece{
  position: absolute;
  top:0px;
  right:0px;
  width:20px;
  height:20px;
  margin-left: 20px;
  margin-top: -5px;
  background-image: url("http://res.cloudinary.com/dhasw4cz8/image/upload/v1502745957/gradport/icons8-Cancel_Filled.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#add-piece-btn{
  position: relative;
  left:50%;
  margin-left: -25px;
  width:50px;
  height:50px;
  background-image: url("http://res.cloudinary.com/dhasw4cz8/image/upload/v1502745957/gradport/icons8-Add_List_Filled.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#coverletter{
  margin-bottom: 20px;
  box-shadow: 5px 5px 2px #888888;
}

#skills-wrapper{
  position: fixed;
  top:150px;
  width:60px;
  left:100px;
  border-radius: 5px;
  border: 1px solid #16a085;

  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}


#add-skill{
  position: relative;

  display: inline-block;
  width:50px;
  height:50px;
  background-image: url("http://res.cloudinary.com/dhasw4cz8/image/upload/v1502755890/gradport/icons8-Add_Filled.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.colored {
  font-size: 60px;
}
