<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eport</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static "navbar/css/main.css" %}"/>

</head>
<body>
  <div id="homelogo"></div>



  <div id="full-view">
      <div id="header">

        {% if request.user.is_authenticated %}
        <div class="menu">
          <ul>
            <li {% if section == "eport" %}class="selected"{% endif %}>
               <a href="{% url "gateway:gateway" %}">eport</a>
            </li>
        </ul>
      </div>
        {% endif %}

           <div class="user">
             <a href="{% url "acounts:logout" %}">Eport</a>
            {% if request.user.is_authenticated %}
              Hello {{ request.user.username }},
              <a href="{% url "acounts:logout" %}?next=/eport">Logout</a>
              {% else %}
              <a href="{% url "acounts:login" %}">Log-in</a>
            {% endif %}
          </div>


      </div>
      <div id="cell1"></div>
     </div>

     <div id="TestBtn1">Test!</div>
     {% block content %}
     {% endblock %}


</body>
</html>
