#background{
	position: absolute;
	 top:0;
	 bottom: 0;
	 left: 0;
	 right: 0;

	margin: auto;
	width:400px;
	height:400px;
	background-color:white;
	background-image:url('../images/welcome.jpg');
	background-size:  cover;
	background-repeat:   no-repeat;

	box-shadow: 10px 10px 5px #888888;

}

#plslgn{
	font-size:30px;
	color:#63610a;
}
#err{
	font-size:15px;
	color:#63610a;
}

#usr{
	font-size:20px;
	color:#63610a;
}

#psw{
	font-size:21px;
	color:#63610a;
}

#loginform{
	position: relative;
	left:20%;
	top:20%;

}
