#background{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color:white;
  background-image:url('../images/welcome.jpg');
  background-size:  cover;
  background-repeat:   no-repeat;
}

#title{
  position: absolute;
  text-align: center;
  width:300px;
  margin-left: -150px;
  left:50%;
  font-style: italic;
  font-family:cursive;
  color: #726f1c;
  }

#login{
  position: absolute;
  width: 100px;
  height:30px;
  box-shadow: 10px 10px 5px #888888;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  background-color: #726f1c;
  color:white;
  text-align: center;
  text-decoration: none;
  padding:10px;
}

#login:hover{
  background-color: #111f1c;
}

#container{
  position: absolute;
  width: 900px;
  height:400px;
  background-color: #eaf4c6;
  box-shadow: 10px 10px 5px #888888;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
}

.student{
  position: relative;
  width:49.5%;
  height:100%;
  text-align: center;
  background-color:white;
  background-image:url('../images/student.jpg');
  background-size:  cover;
  background-repeat:   no-repeat;
  display: inline-block;
  color: #726f1c;


}

.company{
  position: relative;
  width:49.5%;
  height:100%;
  text-align: center;
  background-color:white;
  background-image:url('../images/company.jpg');
  background-size:  cover;
  background-repeat:   no-repeat;
  display: inline-block;
  color: #726f1c;
}
