#header{
  display: inline-block;
}

#homelogo{
    position: fixed;
    left:-5px;
    top:-5px;
    width:250px;
    height:100px;
    background-image:url('../images/logo.png');
    background-size:  cover;
    background-repeat:   no-repeat;
}


#TestBtn1{
  position: absolute;
  right:0;
  top:0;
  width: 100px;
  height:30px;
  color: white;
  background-color: #888888;
}

#TestBtn1:hover{
  background-color: white;
  color: #888888;
  cursor: pointer;
  cursor: hand;
}

.user{
    position: absolute;
    display: inline-block;
    right:10px;
    padding:2px;
    margin-top:0px;
}

.user:hover{
  cursor: hand;
  cursor: pointer;
}
a:hover{
  cursor:pointer;
  cursor:hand;
}

.menu{
  display: inline-block;
  position: relative;
  width: auto;
}

ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    left:5px;
}


 li{
    padding:2px;
    display: inline-block;

}



#full-view{
  position:fixed;
  width: 50% ;
  left: 50%;
  margin-left: -25%;
  height:30px;
  background-color:  #3d2a17 ;
  opacity: 0.5 ;
  color :white;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 7px;
  z-index: 100;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
  padding: 2px;
  background-color: #776644;
  opacity: 1;
}
